{{#content}}

        <!-- VIDEO (INLINE) BLOCK -->
        <link rel="stylesheet" href="/static/shared/modules/video/video.css" /> <script> </script>
        <div class="Section Video Video{{#color}} Section--{{.}}{{/color}}{{#lineTop}} Section--line-top{{/lineTop}}{{#lineBottom}} Section--line-bottom{{/lineBottom}}{{#margin}} Section--{{.}}{{/margin}}" data-js-video>

            <figure class="Section-Inner{{#width}} Section-Inner--{{.}}{{/width}} Video-Inner">

                <div class="Video-Frame">
                    <div class="Video-Mask{{#ratio}} Video-Mask--{{ratio}}{{/ratio}}">
                        <button class="Video-Poster" data-js-video-poster data-js-video-src="{{#src.youtube}}https://www.youtube.com/embed/{{src.youtube}}?autoplay=1&modestbranding=1&showinfo=0&rel=0&hl=sv{{/src.youtube}}{{#src.other}}{{.}}{{/src.other}}" data-js-poly-object-fit data-js-beacon-click="movie-open-block,{{src.youtube}}">
                            <img data-src="{{poster.md}}"
                                data-srcset="{{#poster.lg}}{{poster.lg}} 1600w, {{/poster.lg}}{{#poster.md}}{{poster.md}} 1100w, {{/poster.md}}{{#poster.sm}}{{poster.sm}} 600w{{/poster.sm}}" 
                                alt="{{img.alt}}" 
                                width="1100px"
                                height="462px"
                                class="lazyload Video-Poster-Img" />
                            <noscript>
                                <img src="{{poster.md}}"
                                alt="" 
                                class="Video-Poster-Img Video-Poster-Img-Fallback" />
                            </noscript>
                            <span class="a11y Video-Ally-Open" data-js-video-ally-open tabindex="-1">clicka att spel Youtube video</span>
                            <span class="a11y Video-Ally-Close" data-js-video-ally-close tabindex="-1">clicka att stäng Youtube video</span>
                        </button>
                        <iframe class="Video-Iframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-js-video-iframe aria-hidden="true"></iframe>
                    </div>
                    <button class="Video-Play" data-js-video-play tabindex="-1">
                        {{> ../../static/icons/sprites/icon-play.svg }}
                    </button>
                </div>
                {{#caption}}
                <figcaption class="Video-Caption{{#position}} Video-Caption--{{position}}{{/position}}">
                    {{#title}}<h3 class="Video-Caption-Title">{{title}}</h3>{{/title}}
                    {{text}}
                </figcaption>
                {{/caption}}
            
            </figure>

        </div>
{{/content}}