@import "../../base/variables-colors";
@import "../../base/variables-typography";
@import "../../base/variables-breakpoints";
@import "../../base/variables";
@import "../../base/mixins";


// Image block
//
// Status: near final
//
// An image block. Uses a lazyload file loading technique so that images are only loaded when they are *almost* in view. There is a no-js fallback for lazyloading. Can inherit top/bottom keyline and colours options from [standard section options](/patterns/#!/section/4.2).
//
// Styleguide 3.15

// Image files
//
// The image module can deal with responsive images, and three optional sizes are can be created by the CMS (if the image is too small to warrant a large image, it's not needed. The height is not important, unless you want a cropped version (see 3.5.3).
//
// markup:
//      <pre>**lg** image: 600x??px</pre>
//      <img src="/static/imgs/dusk-sm.jpg" alt="">
//      <pre>**md** image: 1100x??px</pre>
//      <img src="/static/imgs/dusk-md.jpg" alt="">
//      <pre>**lg** image: 1600x??px</pre>
//      <img src="/static/imgs/dusk-lg.jpg" alt="">
//
// sg-wrapper:
// <div class="Section-Inner" style="overflow: auto;">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 3.15.1.



// Image block width
//
// This module works with different standard column sizes. Default size is 980px wide.
//
// .default! - no modifier: LG/980px
// .Section-Inner--xs - XS
// .Section-Inner--sm - SM (standard text column width)
// .Section-Inner--md - MD
// .Section-Inner--lg - LG
// .Section-Inner--xl - XL
// .Section-Inner--xxl - XXL (full screen width)
//
// markup:
//        <link rel="stylesheet" href="/image/image.css"> <script> </script>
//        <div class="Section Image">
//            <figure class="Section-Inner {$modifiers} ImaInner">
//                <div class="ImaFrame lazyload-strut">
//                    <img data-src="/static/imgs/dusk-md.jpg" 
//                         data-srcset=" /static/imgs/bron-lg.jpg 1600w, /static/imgs/bron-md.jpg 1100w, /static/imgs/bron-sm.jpg 600w" 
//                         width="1100" 
//                         height="280" 
//                         alt="test image alt" 
//                         class=" ImaImg lazyload">
//                    <noscript>
//                        <img src="/static/imgs/bron-md.jpg"
//                             alt="est image alt" 
//                             class="ImaImg ImaFallback" />
//                    </noscript>
//                </div>
//            </figure>
//        </div>
//
// Styleguide 3.15.2


// Image cropped aspect ratios
//
// By default the whole image will be visible. If you want to select specific crops, they are listed below. Note that if a crop is used, the ``.lazyload-strut`` class isn't used - it's not needed.
//
// .lazyload-strut - show the whole image (lazyload strut is added to these images to prevent page reflow during scrolling)
// .ImaFrame--crop43 - 4:3 a square-ish type image;
// .ImaFrame--crop32 - 3:2 a photo type image;
// .ImaFrame--crop169 - 16:9 a TV wide-screen type image - the default.
// .ImaFrame--crop235 - 2.35:1 a very wide ration used in cinema;
//
// markup:
//        <link rel="stylesheet" href="/static/modules/image/image.css"> <script> </script>
//        <div class="Section Image">
//            <figure class="Section-Inner ImaInner">
//                <div class="ImaFrame {$modifiers}">
//                    <img data-src="/static/imgs/dusk-md.jpg" 
//                         data-srcset=" /static/imgs/dusk-lg.jpg 1600w, /static/imgs/dusk-md.jpg 1100w, /static/imgs/dusk-sm.jpg 600w" 
//                         width="1100" 
//                         height="743" 
//                         alt="test image alt" 
//                         class=" ImaImg lazyload">
//                    <noscript>
//                        <img src="/static/imgs/dusk-md.jpg"
//                             alt="est image alt" 
//                             class="ImaImg ImaFallback" />
//                    </noscript>
//                </div>
//            </figure>
//        </div>
//
// Styleguide 3.15.3



// Image caption & caption alignment
//
// The figure caption is optional, and can have optional title and text. Both appear centred, underneath the image by default. It can be aligned left or right. Note that on XXS screens, it always appears centrally aligned.
//
// .default! - centered
// .ImaCaption--left - left aligned
// .ImaCaption--right - left aligned
//
// markup:
//        <link rel="stylesheet" href="/static/modules/imacropped/imacropped.css"> <script> </script>
//        <div class="Section Image">
//            <figure class="Section-Inner ImaInner">
//                <div class="ImaFrame">
//                    <img data-src="/static/imgs/dusk-md.jpg" 
//                         data-srcset=" /static/imgs/dusk-lg.jpg 1600w, /static/imgs/dusk-md.jpg 1100w, /static/imgs/dusk-sm.jpg 600w" 
//                         width="1100" 
//                         height="743" 
//                         alt="test image alt" 
//                         class=" ImaImg lazyload">
//                    <noscript>
//                        <img src="/static/imgs/dusk-md.jpg"
//                             alt="est image alt" 
//                             class="ImaImg ImaFallback" />
//                    </noscript>
//                </div>
//                <figcaption class="ImaCaption {$modifiers}">
//                    <h3 class="ImaCaption-Title">Title here</h3>
//                    This is an image caption.
//                </figcaption>
//            </figure>
//        </div>
//
// Styleguide 3.15.4

// Image caption pull-up
//
// The figure caption can be pulled up ontop of the image, and interacts with the alignment. These have slightly different effects across different screen sizes, but all pull-ups default to central aligned on XXS screens.
//
// .ImaCaption--pullup - pulled up whilst center aligned
// .ImaCaption--left.ImaCaption--pullup - pulled up whilst left aligned
// .ImaCaption--right.ImaCaption--pullup - pulled up whilst left aligned
//
// markup:
//        <link rel="stylesheet" href="/static/modules/imacropped/imacropped.css"> <script> </script>
//        <div class="Section Image">
//            <figure class="Section-Inner ImaInner">
//                <div class="ImaFrame">
//                    <img data-src="/static/imgs/dusk-md.jpg" 
//                         data-srcset=" /static/imgs/dusk-lg.jpg 1600w, /static/imgs/dusk-md.jpg 1100w, /static/imgs/dusk-sm.jpg 600w" 
//                         width="1100" 
//                         height="743" 
//                         alt="test image alt" 
//                         class=" ImaImg lazyload">
//                    <noscript>
//                        <img src="/static/imgs/dusk-md.jpg"
//                             alt="est image alt" 
//                             class="ImaImg ImaFallback" />
//                    </noscript>
//                </div>
//                <figcaption class="ImaCaption {$modifiers}">
//                    <h3 class="ImaCaption-Title">Title here</h3>
//                    This is an image caption.
//                </figcaption>
//            </figure>
//        </div>
//
// Styleguide 3.15.5



.Image {
    &-Inner {
        margin: 0 auto;
        @media (max-width: $less-than-sm) {
            margin: 0 -#{$gutter};
        }
        @media print {
            max-width: $print-width;
        }
    }
    &-Frame {
        background-color: $color-imaloading;
        background-image: $stripes-imaloading;
        background-size : $size-imaloading;
        @media print {
            @include printNoImage();
        }
        &--crop169,
        &--crop43,
        &--crop32,
        &--crop235,
        &--crop31 {
            position: relative;
            height: 0;
            padding-top: $aspect-ratio-169 * 1%;
            overflow: hidden;
            background-size: cover;
            background-position: 50% 50%;
            img,
            picture {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                min-height: 100%;
                @supports (object-fit: cover) {
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }
        }
        &--crop169 {
            padding-top: $aspect-ratio-169 * 1%;
        }
        &--crop43 {
            padding-top: $aspect-ratio-43 * 1%;
        }
        &--crop32 {
            padding-top: $aspect-ratio-32 * 1%;
        }
        &--crop235 {
            padding-top: $aspect-ratio-235 * 1%;
        }
        &--crop31 {
            padding-top: $aspect-ratio-31 * 1%;
        }
    }
    &-Img {
        display: block;
        max-width: 100%;
        height: auto;
        .no-js &,
        &--Hidden {
            display: none;
        }

    }
    &-Fallback {
        .no-js & {
            display: block;
        }
    }
    &-Caption {
        margin: 0;
        padding: $gutter 0 0;
        color: $color-grey4;
        background-color: #fff;
        text-align: center;
        @media (max-width: $less-than-sm) {
            font-size: $font-size-sm;
            padding: $gutter $gutter 0;
        }
        &--pullup {
            display: block;
            position: relative;
            min-width: 15em;
            margin: -#{$gutter} $gutter*2 0;
            padding: $gutter $gutter 0;
            color: inherit;
            @media (min-width: $xs-and-up) {
                width: 50%;
                margin: -#{$gutter/2} 25% 0;
            }
            @media (min-width: $sm-and-up) {
                padding: $gutter*2.4 $gutter*2.4 0;
            }
        }
        &--left {
            @media (min-width: $xs-and-up) {
                text-align: left;
                &.ImaCaption--pullup {
                    width: 25em;
                    min-height: 120px;
                    margin: -120px 0 0 50px;
                }
            }
        }
        &--right {
            @media (min-width: $xs-and-up) {
                text-align: right;
                &.ImaCaption--pullup {
                    width: 25em;
                    min-height: 120px;
                    margin: -120px 50px 0 auto;
                    text-align: left;
                }
            }
        }
        &-Title {
            @include typo-smallcaps();
            margin: 0 0 0.3em;
            font-size: $font-size-lg;
            @media (max-width: $less-than-xs) {
                font-size: $font-size-lg-sm;
                margin: 0 0 0.25em;
            }
        }
    }
}