{{#content}}

        <!-- TEXT BLOCK -->
        <div class="Section Text{{#primary}} Text--primary{{/primary}}{{#color}} Section--{{.}}{{/color}}{{#margin}} Section--{{.}}{{/margin}}{{#center}} Section--center{{/center}}{{#justifyXXS}} Section--justify-xxs{{/justifyXXS}}">
            <div class="Section-Inner Text-Inner{{#width}} Text-Inner--{{.}}{{/width}}{{#fontSize}} Text-Inner--type-{{.}}{{/fontSize}}{{#fontSerif}} Text-Inner--type-serif{{/fontSerif}}">

                {{# html }}
                <div class="Text-Main Rte">

                    {{{html}}}

                </div>
                {{/ html }}
                {{# columns }}
                    <div class="Text-Main Text-Main-Col Rte">

                        {{{html}}}

                    </div>
                {{/ columns }}

                {{# expandedText }}
                <div class="Text-Expanded Rte"
                    data-js-toggle
                    data-toggle-button="#textExpand123456"
                    data-toggle-height
                    data-toggle-init-closed>

                    {{{ expandedTextHtml }}}

                </div>
                {{/ expandedText }}

            </div>
            {{# expandedText.button }}
            <div class="Btn-Bar Text-Buttons" id="textExpand123456">
                <button type="button" class="Btn Btn--bar {{class}} Text-Buttons-Btn">
                    <span class="Text-Buttons-Btn-Open">
                        {{ TextOpen }}
                        <svg viewBox="0 0 512 512" class="Icon Text-Buttons-Btn-Icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down"></use>
                        </svg>
                    </span>
                    <span class="Text-Buttons-Btn-Close">
                        {{ TextClose }}
                        <svg viewBox="0 0 512 512" class="Icon Text-Buttons-Btn-Icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-up"></use>
                        </svg>
                    </span>
                </button>
            </div>
            {{/ expandedText.button }}
        </div>
{{/content}}