{{#content}}

        <!-- HERO (FULL) BLOCK -->
        <link rel="stylesheet" href="/static/shared/modules/hero-full/hero-full.css" /> <script> </script>
        <header class="HeroFull Nav-Hero" data-js-hero-full>
            <div class="HeroFull-Inner">
                {{#img}}
                <span class="HeroFull-Frame ObjectFit {{#img.position}} Position--{{.}}{{/img.position}}" data-js-poly-object-fit>
                    <picture class="HeroFull-Img{{#img.position}} Position--{{.}}{{/img.position}}">
                        <source srcset="{{#img.lg}}{{.}} 1600w, {{/img.lg}}{{#img.sm}}{{.}} 1100w{{/img.sm}}" media="(orientation: landscape)" />
                        <source srcset="{{#img.xl}}{{.}} 1600w, {{/img.xl}}{{#img.md}}{{.}} 1100w, {{/img.md}}{{#img.xs}}{{.}} 600w{{/img.xs}}" media="(orientation: portrait)" />
                        <img src="{{img.sm}}" alt="" width="1100" height="734" class="HeroFull-Img{{#img.position}} Position--{{.}}{{/img.position}}" />
                    </picture>
                </span>
                {{/img}}
                {{#title}}
                    <div class="HeroFull-Main">
                        <div class="HeroFull-Main-Inner">
                            <h2 class="HeroFull-Title{{#titleWidth}} HeroFull-Title--{{.}}{{/titleWidth}}">
                                {{.}}
                            </h2>
                            {{#preamble}}
                            <p class="HeroFull-Text">{{.}}</p>
                            {{/preamble}}
                            <div class="HeroFull-PreModules">
                            {{# preModules }}
                                {{# heading }}
                                    <h4 class="HeroFull-PreModules-Title">{{title}}</h4>
                                {{/ heading }}
                                {{# button }}
                                    <a {{#link}}href="{{.}}"{{/link}} class="Btn Btn--fat Btn--bar HeroFull-Btn {{#class}}{{.}}{{/class}}" {{#datatype}}{{.}}{{/datatype}}>
                                        {{#icon}}<svg viewBox="0 0 512 512" class="Icon HeroFull-Btn-Icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{.}}"></use></svg>{{/icon}}
                                        {{text}}
                                    </a>
                                {{/ button }}
                                {{# input }}
                                    <div class="Label Label--fat HeroFull-Field{{# block }} HeroFull-Field--block{{/ block }} {{# labelClass }}{{.}}{{/ labelClass }}">
                                        {{# label }}<span class="Label-Text HeroFull-Label-Text">{{label}}</span>{{/ label }}
                                        <input type="{{# type }}{{.}}{{/ type }}{{^ type }}text{{/ type }}" name="{{name}}" value="{{value}}" size="{{size}}" maxlength="{{maxlength}}" class="Input Input--fat Input--block HeroFull-Input {{# inputClass }}{{.}}{{/ inputClass }}" {{#datatype}}{{.}}{{/datatype}} />
                                    </div>
                                {{/ input }}
                                {{# link }}
                                    <a {{#url}}href="{{.}}"{{/url}} class="Link HeroFull-Link {{#class}}{{.}}{{/class}}" {{#youtubeId}} data-youtube-id="{{youtubeId}}"{{/youtubeId}}{{#youtubeAspect}} data-video-aspect="{{youtubeAspect}}"{{/youtubeAspect}} {{#datatype}}{{.}}{{/datatype}}>
                                        {{#link.icon}}<svg viewBox="0 0 512 512" class="Icon HeroFull-Link-Icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{.}}"></use></svg>{{/link.icon}}
                                        {{text}}
                                    </a>
                                {{/ link }}
                            {{/ preModules }}
                            </div>
                        </div>
                    </div>
                {{/title}}
                <button type="button" class="HeroFull-More" data-js-hero-full-more>
                    Find out more
                    <svg viewBox="0 0 512 512" class="Icon HeroFull-More-Icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-disc-down"></use>
                    </svg>
                </button>
            </div>
        </header>
{{/content}}