@import "../base/variables-colors";
@import "../base/variables-typography";
@import "../base/variables-breakpoints";
@import "../base/variables";
@import "../base/mixins";

// Footer
//
// This footer is only used in the "takeover" page pattern. It's purpose is actually obscure - when you scroll to the bottom of a page and start updating the page with JS (eg, clicking options in nyteckning elavtal), the page appears to jump up and down. Having the slack in the page with a footer reduces the effect. It's also built so that it anchors to the bottom of the page, even if the page content doesn't reach the bottom of the window.
//
// .Footer - footer to use in "takeover" page pattern
//
// markup:
// <div class="Footer"></div>
//
// Styleguide 2.9

$color-footer-bg: $color-grey0;
$color-footer-fg: #000;
$links-breakpoint-min: 400px;
$links-breakpoint-max: $links-breakpoint-min - 1px;
$footer-font-size-sm: $font-size-xs;
$footer-font-size-lg: $font-size-sm;

.Footer {

    &-Base,
    &-Links {
        position: relative;
        margin: $gutter-section-md-sm 0 0;
        margin: $gutter-section-md-sm calc(0px - env(safe-area-inset-right)) 0 calc(0px - env(safe-area-inset-left));
        padding: $gutter-section-md-sm $gutter;
        color: $color-footer-fg;
        background-color: $color-footer-bg;
        font-size: $footer-font-size-sm;
        pabreak-inside: avoid;
        @media (min-width: $xs-and-up) {
            margin-top: $gutter-section-md;
            padding-left:  calc(#{$gutter} + env(safe-area-inset-left));
            padding-right: calc(#{$gutter} + env(safe-area-inset-right));
        }
        @media (min-width: $md-and-up) {
            font-size: $footer-font-size-lg;
        }
        @media print {
            border-top: 10px solid $color-line;
            margin-top: $print-margin !important;
        }
    }

    &-Base {
        text-align: right;
        background-image: linear-gradient(to bottom, $color-footer-bg, #fff);
        @supports(min-height: 100vh) {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            width: calc(100vw + env(safe-area-inset-right));
        }
        .Footer-Links ~ & {
            margin-top: 0;
            padding-top: 0;
        }
        &-Logo {
            display: block;
            margin: 0 auto;
            width: 138px;
            height: 30px;
            @media (min-width: $md-and-up), print {
                float: left;
                margin: 0;
                width: 184px;
                height: 40px;
            }
        }
        &-Link {
            display: inline-block;
            margin-left: 1em;
            color: $color-footer-fg;
            white-space: nowrap;
            @media print {
                display: none;
            }
            &:visited {
                color: inherit;
            }
        }
        &-Text {
            display: block;
            padding: $gutter 0 0;
            text-align: center;
            @media (min-width: $md-and-up) {
                margin-left: 200px;
                text-align: inherit;
            }
            @media print {
                margin: 0;
                float: right;
            }
        }
    }
    
    &-Links {
        @media print {
            display: none;
        }
        &-Text {
            display: block;
        }
        &-List {
            margin-top: -0.25em;
            margin-bottom: 0;
        }
        &-Link {
            margin-left: -0.5em;
            padding-left: 0.5em;
            color: $color-footer-fg;
            @media (min-width: $links-breakpoint-min) {
                max-width: 100%;
            }
            &:hover {
                color: $color-footer-fg;
                text-decoration: underline;
            }
            &:after {
                top: 0.7em;
                margin-top: 0;
            }
            &:visited {
                color: inherit;
            }
        }
    }

    &-Shadow {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 8px;
        .Footer-Links ~ .Footer-Base & {
            display: none;
        }
        @media print {
            display: none;
        }
    }

    &-Inner {
        max-width: $width-xl;
        margin-left: auto;
        margin-right: auto;
        @media print {
            max-width: $print-width;
        }
        &:after {
            content: '';
            display: table;
            height: 0;
            overflow: hidden;
        }
        .Footer-Links ~ .Footer-Base & {
            padding: $gutter*2 0 0;
            border-top: 1px solid $color-line;
            @media print {
                border: none;
            }
        }
    }

    &-Row {
        display: flex;
        flex-wrap: wrap;
        font-size: 0;
        margin-left: -$gutter;
        margin-right: -$gutter;
        @media (min-width: $md-and-up + $gutter*2) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-Block {
        display: block;
        vertical-align: top;
        width: auto;
        flex: 0 0 100%;
        padding: 0 $gutter;
        font-size: $font-size-md;
        @media (min-width: $links-breakpoint-min) {
            display: inline-block;
            width: 50%;
            max-width: 50%;
            flex: 0 0 50%;
            margin-bottom: $gutter-section-md-sm;
            font-size: $footer-font-size-lg;
            &:nth-of-type(1n+3) {
                margin-bottom: 0;
            }
        }
        @media (min-width: $xs-and-up) {
            font-size: $font-size-md;
        }
        @media (min-width: $sm-and-up) {
            width: 25%;
            max-width: 25%;
            flex: 0 0 25%;
            margin-bottom: 0;
        }
        @media (min-width: $sm-and-up) AND (max-width: $less-than-md) { // ipad size - font tweak
            font-size: $footer-font-size-sm;
        }
        @media (min-width: $md-and-up) AND (max-width: $less-than-md) {
            font-size: $footer-font-size-lg;
        }
        @media (max-width: $links-breakpoint-max) {
            text-align: center;
            padding: 0 $gutter $gutter-section-md-sm;
        }
    }

    &-Title {
        margin: -0.3em 0 1em;
    }
    
    &-Cta {
        margin: 1.5em 0 0;
    }
}

.Social {
    margin: 0 -#{$gutter/2};
    @media (min-width: $links-breakpoint-min) AND (max-width: $less-than-lg) {
        max-width: 10rem;
    }
    &-Item {
        display: inline-block;
        margin: 0 $gutter/2 $gutter;
        font-size: 1rem;
        @media (max-width: $links-breakpoint-max) {
            font-size: 1.25rem;
        }
        &-Icon {
            display: block;
            width: 2em;
            height: 2em;
        }
        &-Text {
            @include a11yOnly();
        }
    }
    &-Link {
        display: block;
        overflow: hidden;
        @include a11yTextFocus();
        &:focus {
            svg {
                fill: #fff;
            }
        }
    }
}