{{> ../../src/shared/partials/head }}

    <body>

        {{> ../../src/shared/partials/ally1 }}

        {{> ../../src/shared/partials/modules }}

        {{> ../../src/shared/partials/footer }}

    </body>
</html>
