        
        <link rel="stylesheet" href="static/elements/footer.css" /> <script> </script>
        <div class="Bg-Bottom-Left"><img data-src="static/imgs/bg-bottom-left.png" class="lazyload" alt="" /></div>
        
        <div class="Bg-Bottom-Right3"><img data-src="static/imgs/bg-bottom-right3.png" class="lazyload" alt="" /></div>
        <div class="Bg-Bottom-Right2"><img data-src="static/imgs/bg-bottom-right2.png" class="lazyload" alt="" /></div>
        <div class="Bg-Bottom-Right1"><img data-src="static/imgs/bg-bottom-right1.png" class="lazyload" class="lazyload" alt="" /></div>
        
        <footer class="Footer-Base">
            <div class="Footer-Inner">

                <div class="Footer-Screening">
                    For all enquiries including screening requests, please <a href='hello@billwillis.com'>Contact Us</a>.
                </div>

                <div class="Footer-Base-Logos">
                    <a href="http://www.neon.com" target="_blank" rel="noopener" class="Footer-Base-Logo-Link">
                        <img src="static/imgs/logo-neon.svg" width="100" class="Footer-Base-Logo Footer-Base-Logo--neon" alt="Neon Adventures" />
                    </a>
                    <a href="http://www.sketchfilms.co.uk" target="_blank" rel="noopener" class="Footer-Base-Logo-Link">
                        <img src="static/imgs/logo-sketch.svg" width="100" class="Footer-Base-Logo Footer-Base-Logo--sketch" alt="Sketch Films" />
                    </a>
                </div>

                <div class="Footer-Base-Text">
                    &copy; 2018.
                    This site uses cookies.
                </div>

                <div class="Social">
                    <a href="https://www.instagram.com/billwillisfilm" target="_blank" rel="noopener" class="Social-Logo-Link">
                        <img src="static/imgs/logo-instagram.svg" width="30" height="30" class="Social-Logo Social-Logo--instagram" alt="Instagram" />
                    </a>
                    <a href="https://vimeo.com/billwillis" target="_blank" rel="noopener" class="Social-Logo-Link">
                        <img src="static/imgs/logo-vimeo.svg" width="30" height="30" class="Social-Logo Social-Logo--vimeo" alt="Vimeo" />
                    </a>
                </div>

            </div>
        </footer>
