        
        <link rel="stylesheet" href="/static/elements/footer.css" /> <script> </script>
        <footer class="Footer-Base">
            <div class="Footer-Inner">

                <div class="Footer-Base-Logos">
                    <a href="http://www.neon.com" target="_blank" rel="noopener" class="Footer-Base-Logo-Link">
                        <img src="static/imgs/logo-neon.svg" width="100" class="Footer-Base-Logo Footer-Base-Logo--neon" />
                    </a>
                    <a href="http://www.sketchfilms.co.uk" target="_blank" rel="noopener" class="Footer-Base-Logo-Link">
                        <img src="static/imgs/logo-sketch.svg" width="100" class="Footer-Base-Logo Footer-Base-Logo--sketch" />
                    </a>
                </div>

                <div class="Footer-Base-Text">
                    &copy; 2018
                </div>

                <div class="Footer-Base-Info">
                    This site uses cookies.
                </div>

                <div class="Social">
                    <a href="https://www.instagram.com/billwillisfilm" target="_blank" rel="noopener" class="Social-Logo-Link">
                        <img src="static/imgs/logo-instagram.svg" width="30" height="30" class="Social-Logo Social-Logo--instagram" />
                    </a>
                    <a href="https://vimeo.com/billwillis" target="_blank" rel="noopener" class="Social-Logo-Link">
                        <img src="static/imgs/logo-vimeo.svg" width="30" height="30" class="Social-Logo Social-Logo--vimeo" />
                    </a>
                </div>

            </div>
        </footer>
