
    <!-- SCRIPTS -->
    <script>
      // js is go.
        document.documentElement.className = document.documentElement.className.replace('no-js', '');
        document.documentElement.className += ' js';
        var geWebPath = "";
    </script>

    <!-- START THE DOWNDLOAD OF CRITICAL SCRIPTS BEFORE THE BROWSER DISCOVERS THEM -->
    {{^scriptsHideBase}}
    <link rel="preload" as="script" type="text/javascript" href="static/shared.js" />  
    <link rel="preload" as="script" type="text/javascript" href="static/index.js" />  
    {{/scriptsHideBase}}
    {{#scripts}}
    <link rel="preload" as="script" type="text/javascript" href="{{.}}" />  
    {{/scripts}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126129087-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-126129087-1', {
        'anonymizeIp', true,
        'transport_type': 'beacon'
    });
    </script>
    <!-- Google Analytics -->