    

    <!-- TYPEKIT PRELOAD: MRS EAVES SMALL CAPS -->
    <link rel="preload" as="font" type="font/woff2" href="//use.typekit.net/af/cb95a6/00000000000000003b9adc07/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3" crossorigin />
    <!-- TYPEKIT PRELOAD: MRS EAVES SROMAN LINING -->
    <link rel="preload" as="font" type="font/woff2" href="//use.typekit.net/af/f04c9e/00000000000000003b9adc09/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3" crossorigin />

    <script>
    (function(d) {
        var config = {
        kitId: 'tpp0psn',
        scriptTimeout: 3000,
        async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
    </script>