        <a id="maincontent" class="clearMargin"></a>
        {{# modules }}

            {{# heroFull }}
                {{> ../modules/hero-full/hero-full }}
            {{/ heroFull }}

            {{# text }}
                {{> ../modules/text/text }}
            {{/ text }}

            {{# quote }}
                {{> ../modules/quote/quote }}
            {{/ quote }}

            {{# quoteCarousel }}
                {{> ../modules/quote-carousel/quote-carousel }}
            {{/ quoteCarousel }}

            {{# awards }}
                {{> ../modules/awards/awards }}
            {{/ awards }}

            {{# gallery }}
                {{> ../modules/gallery/gallery }}
            {{/ gallery }}

            {{# image }}
                {{> ../modules/image/image }}
            {{/ image }}

            {{# video }}
                {{> ../modules/video/video }}
            {{/ video }}

        {{/ modules }}
