        <a id="maincontent" class="clearMargin"></a>
        {{# modules }}

            {{# heroFull }}
                {{> ../modules/hero-full/hero-full }}
            {{/ heroFull }}

            {{# text }}
                {{> ../modules/text/text }}
            {{/ text }}

            {{# quote }}
                {{> ../modules/quote/quote }}
            {{/ quote }}

            {{# image }}
                {{> ../modules/image/image }}
            {{/ image }}

            {{# video }}
                {{> ../modules/video/video }}
            {{/ video }}

        {{/ modules }}
