@import "../../base/variables-colors";
@import "../../base/variables-typography";
@import "../../base/variables-breakpoints";
@import "../../base/variables";
@import "../../base/mixins";

/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus { outline: none; }
  
  .flickity-viewport {
    //overflow: hidden;
    overflow: visible;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
            tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- flickity-button ---- */
  
  .flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
  }
  
  .flickity-button:hover {
    background: white;
    cursor: pointer;
  }
  
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
  }
  
  .flickity-button:active {
    opacity: 0.6;
  }
  
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }
  
  .flickity-button-icon {
    fill: #333;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
  }
  
  .flickity-prev-next-button.previous { left: 10px; }
  .flickity-prev-next-button.next { right: 10px; }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  
  /* ---- page dots ---- */
  
  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -45px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }
  
  .flickity-rtl .flickity-page-dots { direction: rtl; }
  
  .flickity-page-dots .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background: #fff;
    cursor: pointer;
    transition: all 300ms;
  }
  
  .flickity-page-dots .dot.is-selected {
    background: $color-primary;
    transform: rotate(45deg);
  }



.Quote-Carousel {
  position: relative;
    overflow: hidden;
    padding-bottom: 45px;
    @media (min-width: $md-and-up) {
      padding-top: 120px;
      padding-bottom: 160px;
    }
    &-Inner {
        position: relative;
        width: 100%;
        max-width: $width-md;
        margin-top: -0.5em;
        margin-bottom: 0;
        font-size: 0.8rem;
        text-align: center;
        &--xxl {
            max-width: 9000px;
            max-width: 100vw;
        }
        &--xl {
            max-width: $width-xl;
        }
        &--lg {
            max-width: $width-lg;
        }
        &--md {
            // note this is the default
        }
        &--sm {
            max-width: $width-sm;
        }
        &--xs {
            max-width: $width-xs;
        }
    }
    &-Item {
        width: 100%;
        margin: 0;
        opacity: 0;
        transition: opacity 800ms;
        &.is-selected {
            opacity: 1;
            transition-delay: 500ms;
        }
    }
}


.Bg-Mid-Left1 {
  display: none;
  position: absolute;
  left: -97px;
  top: -571px;
  z-index: -1;
  width: 318px;
  height: 314px;
  @media (min-width: $md-and-up) {
      display: block;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.Bg-Mid-Left2 {
  display: none;
  position: absolute;
  left: 80px;
  top: -500px;
  z-index: -1;
  width: 258px;
  height: 234px;
  @media (min-width: $md-and-up) {
      display: block;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.Bg-Mid-Right0 {
  display: none;
  position: absolute;
  right: 139px;
  top: -505px;
  z-index: -1;
  width: 185px;
  height: 130px;
  @media (min-width: $md-and-up) {
      display: block;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.Bg-Mid-Right1 {
    display: none;
    position: absolute;
    right: -140px;
    top: -610px;
    z-index: -1;
    width: 338px;
    height: 364px;
    @media (min-width: $md-and-up) {
        display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
}
.Bg-Mid-Right2 {
    display: none;
    position: absolute;
    right: -100px;
    top: -320px;
    z-index: -1;
    width: 318px;
    height: 284px;
    @media (min-width: $md-and-up) {
        display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
}
.Bg-Mid-Right3 {
    display: none;
    position: absolute;
    right: -50px;
    top: -160px;
    z-index: -1;
    width: 318px;
    height: 284px;
    @media (min-width: $md-and-up) {
        display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
}