// JS
//
// Helpers and polyfills you should be aware about.
// 
// Styleguide 5.


// JS: Intersection Observer
// 
// Scroll events are tricky, CPU intensive and janky. Intersection Observer is a spec that is gradually becoming standard across browsers to make it smoother and more intuitive (as of now, it's across all modern browsers - and in dev in Safari). It's polyfilled in this project with the official [W3C polyfill](http://github.com/w3c/IntersectionObserver). This project uses intersection observer in lazy loading and with navigation enhancements (the subtitle and CTA that fly in as you scroll down)
//
// .
//
// markup:
// <iframe src="http://caniuse.com/intersectionobserver/embed" style="width: 100%;height: 365px;max-width:1200px;display: block; margin: 20px auto;" scrolling="no" frameborder="no"></iframe>
// 
// Styleguide 5.1.


// JS: RAF
// 
// This project has a **Request Animation Frame** polyfill, as RAF is used throughout where we need to delay/spread-out actions and to give a good way of changing CSS classes without the browser concatinating changes. We use [this polyfill](http://github.com/chrisdickinson/raf).
// 
// .
//
// markup:
// <iframe src="http://caniuse.com/requestanimationframe/embed" style="width: 100%;height: 365px;max-width:1200px;display: block; margin: 20px auto;" scrolling="no" frameborder="no"></iframe>
// 
// Styleguide 5.2.