        <footer class="Footer-Base">
            <div class="Footer-Inner">

                <span class="Footer-Base-Text">
                    &copy;2017
                    <a href="#" class="Link Link--lined Footer-Base-Link">About cookies</a>
                </span>

            </div>
        </footer>
