
        
        {{^scriptsHideBase}}
        <script type="text/javascript" src="/static/shared.js"></script>
        {{/scriptsHideBase}}
        {{#scripts}}
        <script type="text/javascript" src="{{{.}}}"></script>
        {{/scripts}}
        {{^scriptsHideBase}}
        <script type="text/javascript" src="/static/index.js"></script>
        {{/scriptsHideBase}}
        <!-- OFFLINE SERVICEWORKER REGISTRATION PAGE -->
        <script>
            //if ('serviceWorker' in navigator) {
            //    navigator.serviceWorker.register('/sw.js');
            //}
        </script>
