    

    <!-- TYPEKIT PRELOAD: BRANDON GROTESQUE LIGHT -->
    <link rel="preload" as="font" type="font/woff2" href="https://use.typekit.net/af/62b3d3/0000000000000000000132dd/27/l?primer=fd8755ca35731b96c13f0cad72cefe378d20a0d1e05ca57d9f899053ffd7fcf4&fvd=n3&v=3" crossorigin />
    <!-- TYPEKIT PRELOAD: BRANDON GROTESQUE REGULAR -->
    <link rel="preload" as="font" type="font/woff2" href="https://use.typekit.net/af/39f077/0000000000000000000132df/27/l?primer=fd8755ca35731b96c13f0cad72cefe378d20a0d1e05ca57d9f899053ffd7fcf4&fvd=n4&v=3" crossorigin />
    <!-- TYPEKIT PRELOAD: MARKET FF is no longer pre-loaded as it is only used sparingly below the fold -->